

.y-fl {
    background-color:rgba(245,245,245,255);
    height: 2.5rem

}

.y-sl {
    background-color: white;
    height: 4.5rem;
}

.y-tl {
    background-color: rgba(245,245,245,255);
    height: 4rem;
}